<header>
  <a class="nav-link logo" routerLinkActive="active" routerLink="/productos"><img src="assets/img/logo.png" alt="logo" id="logo"></a>

  <nav>
      <ul>
          <li><a class="nav-link" routerLinkActive="active" routerLink="/productos">Productos</a></li>
          <!-- <li><a class="nav-link" routerLinkActive="active" routerLink="/ventas">Ventas</a></li> -->
          <li><a class="nav-link" routerLinkActive="active" routerLink="/vendedor">Vendedor</a></li>

      </ul>
  </nav>
</header>
