<section id="secProductos">
    <h2>Agregar Producto</h2>


<div class="contenedor">
    <form (ngSubmit)="onSubmit(contactForm.value)" #contactForm="ngForm">
        <label for="nombre">Nombre producto:</label>
        <input type="text" id="nombre" name="nombre" placeholder="Nombre" [(ngModel)]="producto.nombre" required #nombre="ngModel">
        <p [hidden]="nombre.valid || nombre.pristine">Ingrese un nombre válido</p>

        <label for="precio">Precio:</label>
        <input type="text" id="precio" name="precio" placeholder="100" [(ngModel)]="producto.precio" required #precio="ngModel">
        <p [hidden]="precio.valid || precio.pristine">Ingrese un nombre válido</p>

        <label for="categoria">Categoría:</label>
        <input type="text" id="categoria" name="categoria" placeholder="Juegos de mesa" [(ngModel)]="producto.categoria" required #categoria="ngModel">
        <p [hidden]="categoria.valid || categoria.pristine">Ingrese un nombre válido</p>

        <div class="contBtn">
            <input type="submit" value="Enviar" class="btnForm" [disabled]="contactForm.invalid">
        </div>
    </form>


      <div class="tabla">
        <h3>Lista de productos:</h3>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nombre Producto:</th>
              <th>Precio:</th>
              <th>Categoría:</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of productos">
              <td>{{producto.nombre}}</td>
              <td>{{producto.precio}}</td>
              <td>{{producto.categoria}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</section>
